.navbar {
    text-decoration: none;
    background-color: #6c757d;    
}

.footer {
    /*text-decoration: none;*/
    background-color: #6c757d;
}

.list-unstyled> li > a {
    text-decoration-line: none;
    color: #212529;
}

li{
    margin:10px;
}

.text-uppercase {
    font-weight: bold;
}